<div class="mainContainer">
    <h2>Lista de tareas</h2>
    <div>
        <h3>Agregar tarea</h3>
        <input type="text" placeholder="Nueva tarea" [(ngModel)]="nuevaTarea" />
        <button class="btn_agregar" type="button" (click)="agregarTarea()">Agregar Tarea</button>
    </div>

    <ul class="mainContainer__lista">
        @for (tarea of listaTareas; track tarea; let i = $index){
        <li class="lista__elemento">
            <section class="elemento__interior">
                <p>{{tarea}}</p>
                <button class="btn_eliminar" type="button" (click)="eliminarTarea(i)">Eliminar tarea</button>
            </section>
        </li>
        } @empty {
        <li>No hay tareas para mostrar</li>
        }
    </ul>

</div>